*{margin: 0; padding: 0;}


body{ font-family: 'Poppins', sans-serif;background-color: #f4f4f4; height: 969px;}
.container{    text-align: center;
    display: table;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;}
.box {display: table-cell; vertical-align: middle; width: 85%;}
ul {list-style: none;}

h4 {text-align: center;font-size: 124px; font-weight: 500;}

.eventList {display: flex;}
.eventList li {order: 3; width: 30%;text-align: center; font-size: 24px;  flex-grow: 3;
background-color: #fff; margin: 0 1%; border-radius: 5px; box-shadow: 0 0 35px rgba(171, 171, 171, 0.3);}
.eventList li p:first-child{font-size: 16px; background-color: #58b4ae;padding: 2px; border-radius: 5px 5px 0 0;}